
body{
    width: 1000px;
    margin: auto;
}

.Title-Block {}

.Image { float:left; }

h1{
    margin: 7px;
    float: left;
}

.User-Block ul{
    display: inline-block;
    float: right;
}

.User-Block li{
    float:right;
    display: block;
    width: 80px;
    padding-right: 50px;
}

#Login{
    float: right;
    display: block;

}

.Box{
    width: 80px;
}

.End-Frame { clear: both; }

.Main{
    float: left;
    background-image: url("background.jpg");

    width: 1000px;
    /*height: 768px; /*Esto está para poder ver y testear*/
}

.War-Table {
    width: 50%;
float: left;
}



.Cuadro-De-Mensajes {
    float: left;
    width: 28%;
}
.Cuadro-De-Mensajes input {
    display: block;
    position: relative;
    margin: 50px auto;

}

.Player-Table {
    float: left;
    width: 36%;
}
.Player-Table h3{
    margin: 0;
    font-size: 12pt;
    text-align: center;
}
.Card img {
    width: 160px;
    height: 256px;
}

.Card input { width: 160px;}

#p1Play {
    float:right;
    margin: 0 5px;
}
#p2Play {
    float: left;
    margin: 0 5px;
}
#playerOne { }
#playerTwo { }
#p1MainDeck { float: left;}
#p2MainDeck { float: right; }
#p1SecondDeck {
    margin: 0 10px;
    float: left;
}
#p2SecondDeck {
    margin: 0 10px;
    float: right;
}

.Dev-msg {}
